@model IEnumerable<StudentRegistrationApplication.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
@if (!Model.Any())
{
    <p>we don't have any students yet. </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Student</th>
                <th>Degree Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
            <tr>
                <td>@Html.ActionLink(student.Name, "Edit", "Students", new { id = student.Id }, null)</td>
                <td>@student.AcademicType.DegreeName</td> 
            </tr>
            }
        </tbody>
    </table>
}

